{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">
active_nav_path(window.location.pathname)
</script>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="toolbar pull-right">
        <button id="create_scenario" class="btn btn-default btn-sm">Create</button>
    </div>
    <h1 class="page-header">Create new test</h1>

    <div class="row">
        <div id="scenarios-container" class="col-sm-8">
            <div class="panel panel-default hide">
                <div class="panel-heading">
                    <h3 class="panel-title" style="display: inline-block;">Scenario</h3>
                    <button class="btn btn-sm btn-default" style="right: 24px;position: absolute;">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <div class="btn-group" role="group" style="display:flex; margin-bottom: 5px" >
                           <button name="add-step" type="button" class="btn btn-default">Add Step</button>
                    </div>

                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-md-10" data-type="when">When I login as a valid user</div>
                            <div class="col-md-2">
                                <button class="step-edit-btn btn btn-xs btn-primary">Edit</button>
                                <button class="step-delete-btn btn btn-xs btn-danger">X</button></div>
                        </div>
                    </div>

                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-md-10"  style="border-right:1px dashed gray">
                                <span data-type="when" style="font-weight:bold" class="step-type">When</span>
                                <span class="step-description">I have a developer account</span>
                            </div>

                            <div class="col-md-2">
                                <button class="step-edit-btn btn btn-xs btn-primary">Edit</button>
                                <button class="step-delete-btn btn btn-xs btn-danger">X</button>
                            </div>
                        </div>
                    </div>

                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-2">
                                <h4>By Type</h4>
                                <select style="width:80px">
                                    <option>Given </option>
                                    <option>When </option>
                                    <option>Then </option>
                                </select>
                            </div>
                            <div class="col-sm-8" style="border-right:1px dashed gray">
                                <h4>Select Step</h4>
                                <select style="width:100%">
                                    <option>When I login as a valid user</option>
                                    <option>When I have a developer account</option>
                                </select>
                            </div>
                            <div class="col-sm-2" style="margin-top:20px">
                                <button class="step-save-btn btn btn-xs btn-success">Save</button>
                                <button class="step-discard-btn btn btn-xs btn-danger">X</button>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-4 col-md-offset-8" style="margin-top:5px;">
                                <button class="btn btn-sm btn-primary">OK</button>
                                <button class="btn btn-sm btn-danger">Cancel</button>
                            </div>
                        </div> -->
                    </div>

<!--                     <div id="stepContainer">
                    </div> -->

                </div>
            </div>
            <div id="featureContainer">
            </div>
        </div>
        <!-- /.col-sm-8 -->
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">recent use</h3>
                    </div>
                    <div class="panel-body">
                        ....

                    </div>
                </div>
            </div>
            <!-- /.col-sm-4 -->
        </div>
    </div>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/select2.js"></script>
    
    <script type="text/javascript">
        var TOD = TOD || {};
        TOD.react = {};
    </script>

    <script type="text/jsx" src="{{ STATIC_URL}}react/components/react-select2.jsx"></script>
    <script type="text/jsx" src="{{ STATIC_URL }}react/auto/step-info.jsx"></script>
    <!-- <script type="text/babel" src="{{ STATIC_URL }}react/auto/scenario-container.jsx"></script> -->


    <script type="text/javascript" src="{{ STATIC_URL }}js/create/app.js"></script>
{% endblock %}
