{% extends 'base.html' %}

{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div id="create_view_container">
    </div>
</div>    

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    active_nav_path(window.location.pathname)
    </script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/select2.full.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bower_components/PubSub/src/pubsub.js"></script>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/common/tod-events.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/service/step-service.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/service/scenario-service.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/service/feature-service.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL}}react/build/auto/feature-container.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}react/build/components/react-select2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}react/build/auto/step-info.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}react/build/auto/scenarios-list.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}react/build/auto/feature-create-view.js"></script>
    
    <!-- <script type="text/babel" src="{{ STATIC_URL }}react/auto/scenario-container.jsx"></script> -->


    <script type="text/javascript" src="{{ STATIC_URL }}js/create/app.js"></script>
{% endblock %}
