{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">
active_nav_path(window.location.pathname)



</script>
<script type="text/babel" src="{{ STATIC_URL }}js/create/app.js"></script>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="toolbar pull-right">
        <button id="create_scenario" class="btn btn-default btn-sm">Create</button>
    </div>
    <h1 class="page-header">Create new test</h1>

    <div class="row">
        <div id="scenarios-container" class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="display: inline-block;">Scenario</h3>
                    <button class="btn btn-sm btn-default" style="right: 24px;position: absolute;">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <div class="btn-group" role="group" style="display:flex" >
                           <button type="button" class="btn btn-default">Add Step</button>
                    </div>

                    <div class="well well-sm">
                        When I login as a valid user
                    </div>

                    <div class="well well-sm">
                        When I have a developer account
                    </div>


                    Panel content
                </div>
            </div>
        </div>
        <!-- /.col-sm-8 -->
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">recent use</h3>
                    </div>
                    <div class="panel-body">
                        ....

                    </div>
                </div>
            </div>
            <!-- /.col-sm-4 -->
        </div>
    </div>




    {% endblock %}